body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
article, aside, figure, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, figure, footer, header, nav, section {
  display: block; }

html {
  height: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  min-height: 100%;
  max-width: 40em;
  margin: 0 auto;
  padding: 3em 2em;
  font-size: 18px;
  line-height: 1.6;
  font-family: corbel, "avenir next", "lucida grande", -apple-system, system-ui, helvetica, sans-serif;
  color: #1a1a1a; }

b, strong {
  font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-size: 100%;
  word-spacing: -0.125em;
  font-family: georgia, "bitstream vera sans serif", "lucida grande", helvetica, verdana, sans-serif;
  font-variant: small-caps; }

p {
  margin-bottom: 1em; }

a {
  font-variant: small-caps;
  border-bottom: 1px solid #dadada;
  text-decoration: none; }

a, a:visited {
  color: black; }

a:hover {
  border-bottom-color: #1a1a1a; }

header {
  text-align: center; }

header#main {
  margin-bottom: 3em; }
  header#main h1#logo {
    font-size: 40px;
    font-weight: normal;
    margin: 0; }
  header#main h4 {
    font-weight: normal;
    margin-top: 5px; }

ul.content-list {
  list-style: none; }

section {
  margin-bottom: 1em; }

#about-me aside {
  margin-bottom: 1em;
  text-align: right;
  float: left; }

.clear {
  clear: both; }

footer#colophon {
  margin-top: 4em;
  text-align: center;
  font-size: 0.85em;
  color: #767676; }
  footer#colophon a, footer#colophon a:visited {
    color: #767676; }

@media only screen and (min-width: 768px) {
  #about-me aside {
    width: 12em;
    margin-right: 2em; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #about-me aside {
    margin-right: 2em; } }

@media only screen and (max-width: 479px) {
  body {
    padding: 2em 1.5em; }

  #about-me aside {
    float: none;
    text-align: center;
    margin: 0; }

  header#main {
    margin-bottom: 1em; }
    header#main h1#logo {
      font-size: 2em; }
    header#main h4 {
      font-size: 1em; } }
